.timer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin: 0 auto;
}

.timer {
  text-align: center;
}

.time-display {
  margin-bottom: .75rem;
  font-size: 1.5rem;
}

button {
  background-color: white;
  border: none;
  padding: .5rem;
  border-radius: 1rem;
  box-shadow: 0 0 2px silver;
  font-family: 'Play';
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px silver;
}

.no-show {
  display: none;
}

@media (max-width: 500px) {
  .timer {
    min-height: 40vh;
    margin: 3rem;
  }
}
